/*-- scss:defaults --*/

$presentation-heading-line-height: 1.2;
$presentation-h1-font-size: 1.9em;
$presentation-font-smaller: 0.8;


/*-- scss:rules --*/


.qrcode {
  margin-bottom: 1rem;
  text-align: center;
}



.date {
  font-size: 30px;
  color: green !important;
}