# .github/workflows/render-and-publish.yaml
name: Render and deploy Quarto files
on:
  push:
  pull_request:

jobs:
  quarto-render-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.3.238
          
      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2
        with:
          path: "." # By default, the current working dir is used i.e `quarto render .`

      - name: "Deploy to gh-pages"
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
